<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Index</a>
            </li>

            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.sign_in') }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                </li>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.sign_out') }}">Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        User: {{ current_user.username }} (Role: {{ current_user.role.value }})
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('project.show_projects') }}">
                        My projects
                    </a>
                </li>
                <li class="nav-item">
                    {% if current_user.role.name == 'admin' %}
                    <a class="nav-link" href="{{ url_for('project.create_project') }}">
                        Create new project
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
</nav>