{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
                <p>Subject: {{ task.subject }}</p>
                <p>Description: {{ task.description }}</p>
                <p>Creator: {{ task.creator_id }}</p>
                <p>Assignee: {{ task.assignee_id }}</p>
                <p>Status: {{ task.status.value }}</p>
                <a type="text" href="{{ url_for('comment.create_comment', task_id=task.id, parent_id=task.id) }}">Reply</a>
                <hr>
                <h6>Comments:</h6>
                <hr>
                {% for comment in comments %}
                    <p>Author: {{ comment.creator_id }}</p>
                    <p>Comment: {{ comment.subject }}</p>
                    <a type="text" href="{{ url_for('comment.create_comment', task_id=task.id, parent_id=comment.id) }}">Reply</a>
                <hr>
                {% endfor %}
        </div>
    </div>
{% endblock %}
