{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <form action="{{ url_for('project.edit_project', project_id=project.id) }}" method="POST">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 fw-normal text-center">Edit your project</h1>

                <div class="form-floating mb-3">
                    <input type="text" name="title" class="form-control" id="title" placeholder="title">
                    <label for="title">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="subject" class="form-control" id="subject" placeholder="subject">
                    <label for="subject">Subject</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="short_description" id="short_description" placeholder="short_description">
                    <label for="short_description">Short description</label>
                </div>

                <div class="form-floating mb-3">
                    <textarea class="form-control" name="description" id="description" placeholder="description">
                    </textarea>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Edit</button>
                <p class="mt-5 mb-3 text-muted text-center"></p>
            </form>
        </div>
    </div>

{% endblock %}