{% extends "layout.html" %}

{% block content %}
    <h1>{{ project_data.title }}</h1>
        <p>Subject: {{ project_data.subject }}</p>
        <p>Short description: {{ project_data.short_description }}</p>
        <p>Description: {{ project_data.description }}</p>
        <p>Start date: {{ project_data.start_date }}</p>
        <p>End date: {{ project_data.end_date }}</p>

    {% if current_user.role.name == 'admin' %}
    <a type="button" class="btn btn-outline-primary" href="{{ url_for('project.edit_project', project_id=project_data.id) }}">Edit</a>
    <a type="button" class="btn btn-outline-primary" href="{{ url_for('task.create_task', project_id=project_data.id) }}">Create task</a>
    <a type="button" class="btn btn-outline-danger" href="{{ url_for('project.delete_project', project_id=project_data.id) }}">Delete</a>
    <a type="button" class="btn btn-outline-primary" href="{{ url_for('task.show_tasks', project_id=project_data.id) }}">All tasks</a>
    {% endif %}
    <div>
    <a type="button" class="btn btn-outline-primary" href="{{ url_for('task.show_tasks_for_user', project_id=project_data.id) }}">My tasks</a>
    </div>

{% endblock %}