{% extends "layout.html" %}

{% block content %}
    <h1>{{ data.title }}</h1>
        <p>Subject: {{ data.subject }}</p>
        <p>Short description: {{ data.short_description }}</p>
        <p>Description: {{ data.description }}</p>
        <p>Start date: {{ data.start_date }}</p>
        <p>End date: {{ data.end_date }}</p>

    <a type="button" class="btn btn-outline-primary" href="{{ url_for('project.edit_project', project_id=data.id) }}">Edit</a>
    <a type="button" class="btn btn-outline-danger" href="{{ url_for('project.delete_project', project_id=data.id) }}">Delete</a>

{% endblock %}